/*----------------------------------------- Couleurs globales -----------------------------------*/
$colour-body: white;
$colour-primary: #f3f6ff;
$colour-secondary: #F0F4FF;
$colour-breadcrumb: #9397ad;
$colour-title: #0b0f19;
$colour-text: #565973;
$colour-none:rgb(255 255 255 / 0%);
$colour-badge:#F7EEFD;
$colour-hover: #AA56E9;
$colour-button: linear-gradient(to bottom right, #EC73DA, #9356DC);
/*----------------------------------------- Ombres ------------------------------------------------*/
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$box-shadow-nav: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
/*----------------------------------------- Polices princiaples -----------------------------------*/
$font-family: 'Manrope', sans-serif;
$font-bold: 600;
$font-medium: 500;
$font-regular: 400;


