/* fonds */

.background-apropos-home{
    background-color: $colour-badge ;

}

.background-actualites{
    background-color: $colour-secondary;
}


.reservation{
    background-color:$colour-badge;

}

.background-apropos{
    background-color:$colour-badge ;
}


.background-partenaires{
    background-color: $colour-secondary;


}

.background-contact{
    background-color: $colour-badge;
}